<div>
  <% if item.completed? %>
    <div>
      <p style="opacity: 0.4;"><strike><%= item.name %></strike></p>
    </div>
    <div>
      <%= link_to "", todo_item_path(@todo, item.id), method: :delete, data: { confirm: "Are you sure?" }, class: "fa fa-trash-o" %>
    </div>
  <% else %>
    <div>
      <p><%= item.name %></p>
    </div>
    <div>
      <%= link_to "", todo_item_path(@todo, item.id), method: :patch, class: "fa fa-check-circle" %>
      <%= link_to "", todo_item_path(@todo, item.id), method: :delete, data: { confirm: "Are you sure?" }, class: "fa fa-trash-o" %>
    </div>
  <% end %>
</div>