<div class="columns is-centered">
  <div class="column is-half">
    <div class="box" style="margin-top: 20px">
      <p id="notice"><%= notice %></p>

      <h1 class="title is-5" style="margin-top: 20px">Feed de ToDos</h1>

      <% @todos.each do | todo | %>
        <% if todo.user == current_user %>
          <article class="media">

            <div class="media-content">
              <div class="content">
                <p><%= todo.title %></p>
                <nav class="level">
                  <div class="level-left is-mobile">

                    <%= link_to todo, class: "level-item" do %>
                      <span class="icon"><i class="fa fa-eye" aria-hidden="true"></i></span>
                    <% end %>
                    <%= link_to edit_todo_path(todo), class: "level-item" do %>
                      <span class="icon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                    <% end %>

                    <%= link_to todo, method: :delete, data: { confirm: "Are you sure you want to delete this todo?" } do %>
                      <span class="icon"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                    <% end %>

                  </div>

                </nav>
              </div>
            </div>
          </article>
        <% end %>
      <% end %>

    </div>
  </div>
  <!--  Favorites-->
  <div class="box" style="margin-top: 20px">
    <div class="column is-half">
      <h1 class="title is-5" > Seus Favoritos </h1>
      <% current_user.favorites.each do |favorite| %><br>
        <p>Você favoritou esse ToDo: <%= link_to favorite.todo.title, favorite.todo %>
        </p><% end %>
    </div>
  </div>
</div>