

<div class="columns is-centered" style="margin-top: 20px">

<div class="box">
  <p id="notice"><%= notice %></p>
<p>
  <strong>Title:</strong>
  <%= @todo.title %>
</p>
<%= link_to favorite_text, favorites_update_path(todo: @todo), id: 'favorite_link', remote: true %>
<p>
  <strong>Description:</strong>
  <%= @todo.description %>
</p>
  <br>
<div >
  <%= render @todo.items %>
  <div>
    <%= render "items/form" %>
  </div>

</div>
<br>
<%= link_to 'Edit', edit_todo_path(@todo), class: "button is-info" %>
<%= link_to 'Back', todos_path, class: "button is-info" %>
</div>
</div>